.home-navbar {
  width: 100%;
  height: 700px;
  display: flex;
  background: url("/public/img/DW_A3.jpg");
  background-size: cover;
}

.home-navbar .navbar-container {
  margin-top: 55px;
  height: 642px;
}

.home-navbar .navbar-container .menu {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-navbar .navbar-container .menu .brand-logo {
  width: 250px;
  height: 150px;
}

.home-navbar .navbar-container .menu .links {
  min-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-navbar .navbar-container .menu .user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 24px;
}

.home-navbar a {
  text-decoration: none;
}

.home-navbar .hover-line {
  position: relative;
  font-family: "Roboto Serif";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #ffffff;
}

.home-navbar .hover-line a {
  color: #ffffff;
  z-index: 100;
}

.home-navbar .underline {
  display: block;
  content: "";
  border-bottom: solid 4px #ffbe00ed;
}

.home-navbar .hover-line:after {
  display: block;
  content: "";
  border-bottom: solid 4px #ffbe00ed;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.home-navbar .hover-line:hover:after {
  transform: scaleX(1);
}

.home-navbar div.hover-line:after {
  transform-origin: 0% 50%;
}

.home-navbar .navbar-container .header-frame {
  margin-top: 142px;
  height: 462px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-navbar .navbar-container .header-frame .detail {
  width: 510px;
  display: flex;
  flex-direction: column;
}

.home-navbar .navbar-container .header-frame .detail .head-main-txt {
  width: 450px;
  height: 150px;

  font-family: "Roboto Serif";
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.75px;
  color: #ffffff;
}

.home-navbar .navbar-container .header-frame .detail .wel-txt {
  width: 400px;
  height: 70px;

  font-family: "Roboto Serif";
  font-size: 40px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  letter-spacing: -0.54px;
  color: #ffffff;
}

.home-navbar .navbar-container .detail .signup {
  margin-top: 70px;
}

.home-navbar .navbar-container .detail .signup .signup-button {
  width: 150px;
  height: 60px;
  border-radius: 4px;
  background: #ffbe00ed;
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #242424;
}

.home-navbar .navbar-container .header-frame .login-button {
  margin-top: 300px;
  width: 150px;
  height: 60px;
  border-radius: 4px;
  background: #ffbe00ed;
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #242424;
}

.other-navbar {
  width: 100%;
  height: 700px;
  display: flex;
  background: url("/public/img/DW_A3.jpg");
  background-size: cover;
}

.other-navbar .navbar-container {
  margin-top: 55px;
  height: 642px;
}

.other-navbar .navbar-container .menu {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.other-navbar .navbar-container .menu .brand-logo {
  width: 250px;
  height: 150px;
}

.other-navbar .navbar-container .menu .links {
  min-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.other-navbar .navbar-container .menu .links .login-button {
  background: #ffbe00ed;
  color: #242424;
}

.home-navbar .navbar-container .menu .login-button {
  width: 120px;
  height: 50px;
  background: #ffbe00ed;
  color: #242424;
}

.other-navbar .navbar-container .menu .user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 24px;
}

.other-navbar a {
  text-decoration: none;
}

.other-navbar .hover-line {
  position: relative;
  font-family: "Roboto Serif";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #ffffff;
}

.other-navbar .hover-line a {
  color: #ffffff;
  z-index: 100;
}

.other-navbar .underline {
  display: block;
  content: "";
  border-bottom: solid 4px #ffbe00ed;
}

.other-navbar .hover-line:after {
  display: block;
  content: "";
  border-bottom: solid 4px #ffbe00ed;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.other-navbar .hover-line:hover:after {
  transform: scaleX(1);
}

.other-navbar div.hover-line:after {
  transform-origin: 0% 50%;
}

.other-navbar .navbar-container .header-frame {
  margin-top: 142px;
  height: 462px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.other-navbar .navbar-container .header-frame .detail {
  width: 510px;
  display: flex;
  flex-direction: column;
}

.other-navbar .navbar-container .header-frame .detail .head-main-txt {
  width: 450px;
  height: 150px;

  font-family: "Roboto Serif";
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.75px;
  color: #ffffff;
}

.other-navbar .navbar-container .header-frame .detail .wel-txt {
  width: 400px;
  height: 70px;

  font-family: "Roboto Serif";
  font-size: 40px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  letter-spacing: -0.54px;
  color: #ffffff;
}

.other-navbar .navbar-container .detail .signup {
  margin-top: 70px;
}

.other-navbar .navbar-container .detail .signup .signup-button {
  width: 150px;
  height: 60px;
  border-radius: 4px;
  background: #ffbe00ed;
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #242424;
}

/* BASKET */

.basket-frame {
  position: relative;
  padding: 10px 4px 0px 4px;
  width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #f8f8ff;
  border-radius: 16px;
}

.basket-frame .all-check-box {
  /* padding: 0px 6px; */
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #d7b586;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #f8f8ff;
}

.basket-frame .basket-info-box {
  position: relative;
  margin-top: 6px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.basket-info-box .product-img {
  width: 60px;
  height: 60px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  border-radius: 29px;
}

.basket-info-box .product-name {
  margin-left: 11px;
  width: 185px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.basket-info-box .product-price {
  width: 80px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #ae0000;
}

.basket-info-box
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 6.5px 14px;
}

.basket-info-box .css-ece9u5 {
  min-width: 72px;
}

.basket-frame .cancel-btn {
  position: absolute;
  top: 33%;
  right: 2%;
  cursor: pointer;
}

.basket-frame .basket-order {
  margin-top: 10px;
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.basket-order .price {
  width: 200px;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.basket-frame .orders-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.basket-frame .orders-wrapper::-webkit-scrollbar {
  width: 10px;
}

.basket-frame .orders-wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.basket-frame .orders-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.basket-frame .orders-main-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  width: 100%;
  height: 260px;
  display: flex;
  flex-direction: column;
}
